* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.box {
    text-align: center;
    border: 1px solid rgb(175, 175, 249);
    margin: 0 60px;
    width: 30%;
    height: 500px;
    border-radius: 30px;
    background-color: rgb(175, 175, 249);
    position: relative;
    overflow: hidden;
}

.paragraph p {
    margin: 25px;
}

.star ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.star i {
    color: gold;
    margin: 0 5px;

}

.quote i {
    font-size: 100px;
}

.quote {
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -25px;
    top: -30px;

}

.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease;
}

.box:hover::before {
    top: 0;
    transition-duration: 1s;
}